
.icon-search:before { content: '\e800'; } /* '' */
.icon-vk:before { content: '\e801'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */